:root {
    --bg-dark: rgb(46, 46, 46);
}

body {
    background-color: var(--bg-dark);
    font-family: Consolas;
    position: relative;
}

a:link { 
    color: var(--bg-dark);
    text-decoration: none; 
}

a:visited {
    color: var(--bg-dark)
}


.sidebar {
    position: fixed;
    display: grid;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: antiquewhite;
    width: 68px;
    padding-top: 5px;
    z-index: 200;
    transition: width, 0.2s;
}

.sidebar:hover {
    width: 120px;  
    cursor: initial;
}

.sidebar:hover > .sidebar-content {
    font-size: 20px; 
    opacity: 100%;
    
}

.sidebar:hover > .sidebar-content > .sidebarimg {
    height: 64px;
}

.sidebarimg {
    transition: height 0.2s, box-shadow 0.2s;
    border-radius: 60px;
    height: 32px;
}

.sidebarimg:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

.sidebar-content {
    opacity: 50%;
    font-size: 10px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: font-size 0.2s,
                opacity 0.2s;
}




.project-grid {
    display: grid;
    margin-inline: 10vw;
    margin-top: -2vw;
}

.project-card {
    display: inline-grid;
    position: relative;
    padding: 15px;
    background-color: rgb(250, 200, 120);
    color: rgb(100, 50, 0);
    border-color: rgb(270, 220, 140);
    border-radius: 10px;
    font-weight: bolder;
    height: 32vh;
    width: 16vw;
    margin-left: 30px;
    margin-top: 4vh;
    transition: opacity 0.15s;
    transition: shadow 0.15s;
    transition: height 0.2s;
    transition: width 0.2s;

    font-size: large;
    vertical-align: top;
    text-align: center;

    top: 0;
    transition: top 0.5s cubic-bezier(0.23, 1, 0.32, 1), 
                height 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.noclick:active {
    animation: onclick 0.15s;
}

@keyframes onclick {
    0% {transform: translateX(2%);}
    25% {transform: translateX(-2%);}
    50% {transform: translateX(2%);}
    75% {transform: translateX(-2%);}
}

.project-card:hover {
    opacity: 0.9;
    top: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.project-card:active {
    opacity: 0.85;
    top: 20px;
}

.project-thumb {
    height: 12vw;
    width: 12vw;
    object-fit: cover;
    vertical-align: top;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
   
}

.project-info {
    margin-top: -0.7vh;
    margin-inline: -0.3vw;
    font-size: 1.4vh;
    line-height: 2vh; 
    font-weight: bolder;
}

.title {
    font-size: 4vh;
    color:antiquewhite;
    text-align: center;
    position: relative;
}

.title-move {
    font-size: 4vh;
    color:antiquewhite;
    text-align: center;
    position: relative;
    animation-name: ani-title;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes ani-title {
    from {
        opacity: 0%;
        top: 30px;
    }

    to {
        opacity: 100%;
        top: 0px;
    }
}